* {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    /* top: 0; */
    /* left: 0; */
    text-decoration: none;
    text-align: left;
    z-index: 1;
    color: #000;
    transform-origin: center center;

    font-family: 'Source Code Pro', monospace;
    font-size: 14pt;
    color: #ccc;
    font-weight: 300;

    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;

    backface-visibility: hidden;
}

li {
    list-style: none;
}

html {
    background-color: #0f0f23;
}

a, .wrapper {
    color: #090;
}

a:hover {
    color: #9f9;
}

em {
    color: #fff;
    text-shadow: 0 0 5px #ffffff;
}

.title h1 {
    text-align: center;
    margin: 40px 0 10px 0;
    color: #0c0;
    text-shadow: 0 0 2px #0c0, 0 0 5px #0c0;
    font-size: 32pt;
}

.title p {
    text-align: center;
    margin: 0px 0 50px 0;
    font-size: 14.5pt;
    font-weight: 400;
}

.title p a {
    font-size: 14pt;
    font-weight: 400;
}

main {
    font-size: 0;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px 30px 20px;
}

main.wide {
    width: 1200px;
    max-width: 100%;
    padding: 0 0 30px 0;
    clear: both;
    overflow: hidden;
}

/* main p {
    text-align: justify;
} */

.year_list {
    text-align: center;
}

.year_list li {
    display: inline-block;
}

main table {
    display: inline-block;
    border-spacing: 0;
    border: 2px solid rgba(119, 119, 165, 0.4);
}


/* ----------------------------------------------------------------- */

main .left {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 6%;
}

main .center, main .right {
    float: left;
    margin-top: 25px;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    main.wide {
        width: 100%;
    }

    main .left {
        width: 100%;
        padding: 0 12%;
        float: left;
    }

    main .center, main .right {
        width: 50%;
        float: left;
    }

    main .center {
        padding-left: 30px;
    }

    main .right {
        padding-right: 30px;
    }
}

@media (max-width: 600px) {
    main .center {
        padding-left: 0;
    }

    main .right {
        padding-right: 0;
    }
}


/* ----------------------------------------------------------------- */

main table td {
    border: 1px solid rgba(119, 119, 165, 0.4);
    min-width: 52px;
}

main table td[colspan="2"] a {
    text-align: center;
}

main table td a {
    display: block;
    margin: -1px;
    padding: 7px 14px;
    min-height: 24.8px;

    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.021em;
}

main table td a:hover {
    text-decoration: none;
    color: #090;
}

main table tr:nth-child(2n + 1) {
    background-color: rgba(119, 119, 165, 0.15);
}

main table tr:hover {
    background-color: rgba(119, 119, 165, 0.4);
}

main table td:hover {
    background-color: rgba(119, 119, 165, 0.5);
}
