/* @font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/Source Code Pro/SourceCodePro-Medium.eot');
    src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'),
        url('fonts/Source Code Pro/SourceCodePro-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Source Code Pro/SourceCodePro-Medium.woff2') format('woff2'),
        url('fonts/Source Code Pro/SourceCodePro-Medium.woff') format('woff'),
        url('fonts/Source Code Pro/SourceCodePro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/Source Code Pro/SourceCodePro-Light.eot');
    src: local('Source Code Pro Light'), local('SourceCodePro-Light'),
        url('/fonts/Source Code Pro/SourceCodePro-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Source Code Pro/SourceCodePro-Light.woff2') format('woff2'),
        url('/fonts/Source Code Pro/SourceCodePro-Light.woff') format('woff'),
        url('/fonts/Source Code Pro/SourceCodePro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	/* top: 0;  */
	/* left: 0;  */
	text-decoration: none;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	z-index: 1;
	color: #ccc;
	outline: none;
	transform-origin: center center;
	font-family: Arial, Helvetica, sans-serif;

	/* box-sizing: border-box;  */
	/* box-sizing: content-box;  */

	/* image-rendering: optimizeQuality;  */
	/* backface-visibility: hidden; */
	/* transition-duration: 0s;   */
}

li {
	list-style: none;
}

body {
	background-color: #0f0f23;
}

body * {
	font-family: 'Source Code Pro', monospace;
	font-size: 14pt;
}

a, .wrapper {
	color: #090;
}

a:hover {
	color: #9f9;
}

em {
	color: #fff;
	text-shadow: 0 0 5px #ffffff;
}

.title h1 {
	text-align: center;
	margin: 40px 0 10px 0;
	color: #0c0;
	text-shadow: 0 0 2px #0c0, 0 0 5px #0c0;
	font-size: 32pt;
}
.title p {
	text-align: center;
	margin: 0px 0 50px 0;
	font-size: 14.5pt;
	font-weight: bold;
}

.title p a {
	font-size: 14pt;
	font-weight: bold;
}

main {
	width: 500px;
	margin: 0 auto;
	padding: 0 0 30px 0;
}

main.wide {
	width: 800px;
}

.year_list {
	text-align: center;
}

.year_list li {
	display: inline-block;
}

main table {
	display: inline-block;
	border-spacing: 0;
	border: 2px solid rgba(119, 119, 165, .4);
}

main table.left {
	float: left;
}

main table.right {
	float: right;
}

main table tr {
	width: 100%;
}
main table td {
	min-width: 50px;
	border: 1px solid rgba(119, 119, 165, .4);
}

main table .wrapper {
	padding: 6px 13px;
	font-size: 1.005em;
	font-weight: bold;
	letter-spacing: 0.02em;
}

main table tr:nth-child(2n) {
	background-color: rgba(119, 119, 165, .2);
}

main table tr:hover {
	cursor: pointer;
	background-color: rgba(119, 119, 165, .4);
}

main table td:hover {
	background-color: rgba(119, 119, 165, .5);
}
